<article>
  <a href="/"> &larr; Back to Homepage</a>
  <h2>
    Edit Inventory
  </h2>
  <form class="edit-inventory-form">
    <div>
      <input name="inventory-title" type="text" value="{{inventory.title}}" />
      
    </div>
    
    <button type="submit">Save</button>
    <button type="button" class="delete-inventory-btn">Delete</button>
  </form>
</article>



<script src="/javascript/edit-inventory.js"></script>
<script src="/javascript/delete-inventory.js"></script>