<h2>Exsting Inventories</h2>
<ol class="inventory-list">
    {{#each inventories as |inventory| }}
  <li>
    <article class="inventory">
      <div class="title">
        <span>{{id}}-{{title}}</span>
        
      </div>
    </article>
  </li>
   {{/each}}
</ol>
<section>
  <h2>Create New Inventory</h2>

  <form class="new-inventory-form">
    <div>
      <label for="inventory-title">Title</label>
      <input type="text" id="inventory-title" name="inventory-title" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>



<script src="/javascript/add-inventory.js"></script>