<div>Exsting Inventories</div>
<ol class="inventory-list">
    {{#each inventories }}
  <li>
    <article class="inventory">
      <div class="title">
        <span>{{title}}</span>
        
      </div>
    </article>
  </li>
   {{/each}}
</ol>