
<section>
  <h2>Create New Inventory</h2>

  <form class="new-inventory-form">
    <div>
      <label for="inventory-title">Title</label>
      <input type="text" id="inventory-title" name="inventory-title" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<h2> Inventory List</h2>
<ol class="inventory-list">
    {{#each inventories as |inventory| }}
  <li>
    <article class="inventory">
      <div class="title">
        <span>{{title}}<button class="edit-btn"><a href="/edit/{{inventory.id}}" class="edit-link">Edit</a></button></span>
        
      </div>
    </article>
  </li>
   {{/each}}
</ol>




<script src="/javascript/add-inventory.js"></script>